# Week 1 handin

## 01 Assignment
This is the hand-in for week1. Topics: Getting started, Python language features

## 02 Status
I have completed all the necessary tasks. I have not done the extra (optional) task, but all other tasks are finished.

## 03 Solution part 1 - Create 5 list comprehensions to solve the following 5 problems:

In [1]:
# 1.A Iterate a list of names to return a list of the names starting with H

In [2]:
namesWithH = ["Hans", "Mads", "Frederik", "Helene", "Hansen", "Mads", "Helena", "Casper"]
h_letter = "H"
newList = []

for name in namesWithH :
    if (name[0] == h_letter):
        newList.append(name)
    
print(newList)

['Hans', 'Helene', 'Hansen', 'Helena']

In [3]:
# 1.B In one line create a list of the numbers 1-100 to the power of 3

In [4]:
listPowerOf3 = [num**3 for num in range (1, 100+1) ]
print(listPowerOf3)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000, 9261, 10648, 12167, 13824, 15625, 17576, 19683, 21952, 24389, 27000, 29791, 32768, 35937, 39304, 42875, 46656, 50653, 54872, 59319, 64000, 68921, 74088, 79507, 85184, 91125, 97336, 103823, 110592, 117649, 125000, 132651, 140608, 148877, 157464, 166375, 175616, 185193, 195112, 205379, 216000, 226981, 238328, 250047, 262144, 274625, 287496, 300763, 314432, 328509, 343000, 357911, 373248, 389017, 405224, 421875, 438976, 456533, 474552, 493039, 512000, 531441, 551368, 571787, 592704, 614125, 636056, 658503, 681472, 704969, 729000, 753571, 778688, 804357, 830584, 857375, 884736, 912673, 941192, 970299, 1000000]

In [5]:
# 1.C Iterate a list of names to create a list of tuples where the tuples first value is the length of the name 
# and the second is the name

In [6]:
nameList = ["Hans", "Mads", "Frederik", "Helene", "Hansen", "Mads", "Helena", "Casper"]
length_of_name_and_name = []
# man kunne nok have lavet en list comprehension i stedet.
for name in nameList : 
    length_of_name_and_name.append(len(name))
    length_of_name_and_name.append(name)
    
toTuple = tuple(length_of_name_and_name)
print(toTuple)

(4, 'Hans', 4, 'Mads', 8, 'Frederik', 6, 'Helene', 6, 'Hansen', 4, 'Mads', 6, 'Helena', 6, 'Casper')

In [7]:
# 1.D Iterate over each character in a string and get only those that are nummeric
randomString = "asdjkj243124129412asd090akccawd"
numericString = "";
for name in randomString :
    if (name.isnumeric()):
        print("Strings that are numeric:", name)

Strings that are numeric: 2
Strings that are numeric: 4
Strings that are numeric: 3
Strings that are numeric: 1
Strings that are numeric: 2
Strings that are numeric: 4
Strings that are numeric: 1
Strings that are numeric: 2
Strings that are numeric: 9
Strings that are numeric: 4
Strings that are numeric: 1
Strings that are numeric: 2
Strings that are numeric: 0
Strings that are numeric: 9
Strings that are numeric: 0

In [8]:
# 1.E Using only a list comprehension wrapped in set() get all possible combination from throwing 2 dice 
# (hint use 2 for loops in a single list comprehension)
dices = list(range(1,6+1))

roll_combinations = set([(throw1, throw2) for throw1 in dices for throw2 in dices])
print(roll_combinations)

{(1, 3), (6, 6), (5, 6), (2, 1), (6, 2), (1, 6), (5, 1), (2, 5), (1, 2), (3, 3), (5, 5), (4, 4), (6, 3), (1, 5), (3, 6), (2, 2), (4, 1), (1, 1), (6, 4), (3, 2), (2, 6), (5, 4), (4, 5), (5, 2), (1, 4), (2, 3), (4, 2), (6, 5), (3, 5), (5, 3), (4, 6), (6, 1), (3, 1), (4, 3), (3, 4), (2, 4)}

## 04 Solution part 2 - Create 2 dictionary comprehensions to solve the following:

In [16]:
# 2.A Iterate a list of names and create a dictionary where key is the name and value is the length of the name
names = ["Hans", "Mads", "Frederik", "Helene", "Hansen", "Mads", "Helena", "Casper"]

for name in names:
    #working: 
    dictionary[name] = len(name)
# not working: dict_variable = {k:v for k in name for v in range(len(name))}
print(dictionary)

{9: 3.0, 25: 5.0, 36: 6.0, 49: 7.0, 'Hans': 4, 'Mads': 4, 'Frederik': 8, 'Helene': 6, 'Hansen': 6, 'Helena': 6, 'Casper': 6}

In [15]:
# 2.B Iterate a list of numbers and create a dictionary with {key:value} being {number:squareroot_of_number}
import math  
numbers = [9, 25, 36, 49]

for number in numbers:
    dictionary[number] = math.sqrt(number)
    
print(dictionary)

{9: 3.0, 25: 5.0, 36: 6.0, 49: 7.0}

## Extra assignment (This one goes beyond what is covered in the course notebooks. So only do it if you want an extra challenge).